<br />
<br />
<div class="row">
	<div class="col-12">
		<h4>Delete {{data.name}}</h4>
	</div>
</div>
<div class="row">
	<form method="POST" class="col-12">
		<div class="form-group">
			Are you sure you want to delete <strong>"{{data.name}}"</strong>?
		</div>
		<div class="form-group">
			<button type="submit" class="form-control btn btn-danger" id="delete">Delete</button>
		</div>
	</form>
</div>